@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

a, button {
    transition: all .3s ease-in-out 
}

html {
    font-size: 10px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.text {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.text__h1 {
    font-size: 3.4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 100px 0 60px;
}

.text__about {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
    margin-bottom: 60px;
    font-size: 16px;
    font-weight: 300;
}





.people {
    display: flex;
    margin: 0 auto;
}

.people__scene {
    width: 270px;
    height: 270px;
    margin: 15px;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.cards:hover {
    transform: rotateY(180deg);
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
}

.front {
    overflow: hidden;
}

.back {
    background-color: #18b5dc;
    transform: rotateY(180deg);
    align-items: center;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.people__links--mode {
    width: 45px;
    height: 45px;
    text-align: center;
    background-color: #5ecbe7;
    color: #fff;
    font-size: 25px;
    margin: 5px;
    padding: 5px;
}

.fab {
    width: 100%;
    height: 100%;
}

.people__links--mode:hover {
    cursor: pointer;
    transform: scale(1.1);
}







.people__about {
    margin: 0 15px;
    width: 100%;
    height: 100%;
}

.people__name {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 0;
    margin: 15px 0 5px;
}

.people__prof {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.people__card--pos {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    min-width: 270px;
    transform: translate(-50%, -50%);
}